@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
  background: #2a6171;
  font-size: 2em;
  color: #f3d516;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  min-height: 100%;
}

.container {
  width: 100%;
  position: relative;
}

.main {
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin-top: 270px;
}

.cs-text {
  width: 700px;
  margin: 120px auto 30px;
  cursor: default;
}

.cs-text>span {
  display: block;
  -webkit-backface-visibility: hidden;
}

.cs-text-cut {
  width: 100%;
  height: 90px;
  overflow: hidden;
  transition: all .4 ease-in-out;
}

.cs-text-cut span {
  display: block;
  line-height: 180px;
  color: rgba(255, 255, 255, 1);
  font-size: 11rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 7px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: rgba(255, 255, 255, .3);
}

.cs-text-cut:last-child span {
  margin-top: -84px;
}

.cs-text-mid {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 30px;
  line-height: 50px;
  text-indent: 20px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  margin-left: 160px;
  color: rgba(255, 255, 255, .5);
  text-shadow: 0 0 0 rgba(255, 255, 255, .9);
  opacity: 0;
  transform: scale(.5);
  transition: all .4s ease-in-out 0s;
}

.cs-text:hover .cs-text-cut:first-child {
  transform: translateY(-25px);
  opacity: .5;
}

.cs-text:hover .cs-text-cut:last-child {
  transform: translateY(25px);
  opacity: .5;
}

.cs-text:hover .cs-text-mid {
  transition-delay: .3s;
  transform: scale(1);
  opacity: .5;
}